@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: hsl(0, 0%, 100%);
    width: 280px;
    height: 450px;
    border-radius: 15px;
    margin-top: 70px;
    margin-bottom: 65px;
}

.qr-code {
    height: 250px;
    border-radius: 10px;
}

.spacer {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.title {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.paragraph {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}